<div class="categories mb-5">
	<div class="category-bar mb-1">
		<div class="container">
			<div class="float-left p-2"><i class="fa fa-book fa-lg"></i> &nbsp;<%= category.name %></div>
		</div>
	</div>
	<div class="topics">
		<table class="table">
				<thead>
				<tr>
					<th></th>
					<th>Topics</th>
					<th>Posts</th>
					<th>Latest Post</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td><i class="fa fa-file fa-2x"></i> &nbsp;Thread One</td>
					<td>12</td>
					<td>50</td>
					<td>Post 1</td>
				</tr>
				<tr>
					<td><i class="fa fa-file fa-2x"></i> &nbsp;Thread Two</td>
					<td>3</td>
					<td>123</td>
					<td>Post 2</td>
				</tr>
				<tr>
					<td><i class="fa fa-file fa-2x"></i> &nbsp;Thread Three</td>
					<td>91</td>
					<td>541</td>
					<td>Post 3</td>
					</tr>
				</tbody>
			</table>
	</div>
</div>