
<footer class="page-footer font-small blue pt-4">

 <footer id="footer" class="footer-1">
<div class="main-footer widgets-dark typo-light">
	<div class="container">
		<div class="row">
  
<div class="col-xs-12 col-sm-6 col-md-3">
	<div class="widget subscribe no-box">
		<h5 class="widget-title">DISCUSSION FORUM<span></span></h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quaerat explicabo repellat magnam officia nostrum excepturi nam sit similique, voluptates ipsa consectetur in ab cumque eveniet impedit? Dolores veniam et ipsam adipisci, facere tempora repudiandae. </p>
	</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget no-box">
<h5 class="widget-title">Quick Links<span></span></h5>
<ul class="thumbnail-widget">
	<li>
		<div class="thumb-content"><a href="#.">Link #1</a></div>	
	</li>
	<li>
		<div class="thumb-content"><a href="#.">Link #2</a></div>	
	</li>
	<li>
		<div class="thumb-content"><a href="#.">Link #2</a></div>	
	</li>
	<li>
		<div class="thumb-content"><a href="#.">Link #3</a></div>	
	</li>
	<li>
		<div class="thumb-content"><a href="#.">Link #3</a></div>	
	</li>
	<li>
		<div class="thumb-content"><a href="#.">Link #4</a></div>	
	</li>
	<li>
		<div class="thumb-content"><a href="#.">Link #5</a></div>	
	</li>
</ul>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget no-box">
<h5 class="widget-title">Get Started<span></span></h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, at?</p>
<a class="btn btn-lg btn-warning" href="#." target="_blank">Register on Forum</a>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
	<div class="widget no-box">
	<h5 class="widget-title">Contact Us<span></span></h5>
	<p><a  class="text-black">contact@example.com</a></p>
	<ul class="social-footer2">
		<li class="">
			<a target="_blank" href="https://www.youtube.com/">
				<i class="fa fa-youtube-play fa-2x"></i>
			</a>
		</li>
		<li class="">
			<a href="https://www.facebook.com/" target="_blank" title="Facebook">
				<i class="fa fa-facebook-f fa-2x"></i>
			</a></li>
		<li class="">
			<a href="https://twitter.com" target="_blank" title="Twitter">
				<i class="fa fa-twitter fa-2x"></i>
			</a></li>
		<li class="">
			<a title="instagram" target="_blank" href="https://www.instagram.com/">
				<i class="fa fa-instagram fa-2x"></i>
			</a>
		</li>
	</ul>
	</div>
</div>

		</div>
	</div>
</div>
  
<div class="footer-copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<p><i>Copyleft H3BCKN ©2019. All rights not reserved</i></p>
			</div>
		</div>
	</div>
</div>
</footer>

</footer>
