<header>
<!-- LOGO IMAGE -->
<div class="container-fluid">
    <section class="row no-gutter align-items-center">
        <div class="col-lg-12 text-center p-0 d-flex align-items-center">
            <img class="img-fluid position-relative mx-auto" src="https://picsum.photos/1400/320" alt="">
            <h1 class="w-100 position-absolute text-white my-auto">Forum<br>Enjoy your interesting discussions</h1>
        </div>
    </section>
</div>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand text-light" href="https://www.google.com" >
  	<img src="https://pngimage.net/wp-content/uploads/2018/06/logo-placeholder-png-6.png" alt="" class="img-fluid rounded" width="40px" height="40px">
  Forum
	</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#demo-navbar" aria-controls="demo-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="demo-navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="https://www.google.com" class="nav-link text-light"><i class="fa fa-user-plus fa-lg"></i>&nbsp;Register<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a href="https://www.google.com" class="nav-link text-light"><i class="fa fa-sign-in fa-lg"></i></i>&nbsp;Login</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Quick Links
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" >1</a>
          <a class="dropdown-item" >2</a>
          <a class="dropdown-item" >3</a>
          <a class="dropdown-item" >4</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" >5</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="#">FAQ</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Find discussion" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</header>