<div class="container p-5">
	<div class="row">
		<div class="col-md-9">
			<% @categories.each do |category| %>
				<%= render 'partials/categories', category: category %>
			<% end %>
		</div>
		<div class="col-md-3">
			<%= render 'partials/navbox' %>
		</div>
	</div>
</div>