<div class="container p-5">
	<div class="row">
		<div class="col-md-9">
			<%= render 'partials/categories', category: @category %>
			<%= link_to root_path do %>
				<button class="btn btn-md btn-warning">Back to main page</button>
			<% end %>
		</div>
		<div class="col-md-3">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae excepturi obcaecati maxime, necessitatibus, id quaerat modi totam tempora consequuntur est quia dolore ab expedita eius distinctio! Odit asperiores vel sint consectetur minus eum rerum qui unde, quisquam enim debitis accusantium commodi excepturi soluta, aut, beatae. Enim earum ab dolorum modi, animi eveniet impedit. Animi non error reiciendis esse. In tenetur libero, nulla quo totam nemo alias, vero expedita voluptates sint saepe quae officia modi qui voluptatibus minus, cupiditate odio minima. Blanditiis quaerat iure quis inventore hic minus aliquid ab quasi. Itaque veniam quis molestiae harum dolorem quidem deleniti, ex alias aliquam minus. Excepturi, molestias amet libero non maiores, est aspernatur unde tempora impedit aliquam ullam assumenda vitae reiciendis totam natus accusantium asperiores modi temporibus expedita quaerat dolore quidem veritatis odit. Tempore culpa debitis modi, maxime quidem laboriosam esse magnam tempora vitae aspernatur, facilis quia, ut dolorem sit pariatur doloremque dignissimos eum veritatis, dolore iure recusandae amet enim! Consectetur corporis, quidem sapiente in eos optio tempora ipsa quaerat rem deserunt sit sunt sint cumque officia illum aperiam eveniet quisquam accusantium natus inventore cupiditate, assumenda quos reiciendis eaque facilis. Corrupti magni, architecto aut ea alias totam reprehenderit autem, vitae, maiores, velit laborum!
		</div>
	</div>
</div>
